PPSnMod/Xsd/PPSn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DEMppsn"
           targetNamespace="http://tecware-gmbh.de/dev/des/2015/ppsn"
           elementFormDefault="qualified"
           xmlns="http://tecware-gmbh.de/dev/des/2014"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
					 xmlns:pps="http://tecware-gmbh.de/dev/des/2015/ppsn">

	<xs:import namespace="http://tecware-gmbh.de/dev/des/2014" />

	<xs:complexType name="dataSourceType">
		<xs:complexContent>
			<xs:extension base="ConfigItemType">
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="dataSource" abstract="true" type="pps:dataSourceType">
		<xs:annotation>
			<xs:documentation>Abstract base node, for all data source implementations.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="sqlExDataSource" substitutionGroup="pps:dataSource">
		<xs:annotation>
			<xs:documentation>Implementation for a Sql-Server data source.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.PPSn.Server.Sql.PpsSqlExDataSource</class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pps:dataSourceType">
					<xs:sequence>
						<xs:element name="connectionString" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Connection string to the database, this string is used for system connection.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="fieldAttributeNames">
		<xs:restriction base="xs:string">
			<xs:enumeration value="displayName" />
			<xs:enumeration value="maxLength" />
			<xs:enumeration value="dataType" />
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="columnBasicAttributes">
		<xs:attribute name="name" type="KeyType" use="required">
		</xs:attribute>
		<xs:attribute name="fieldName" type="xs:string" use="required">
		</xs:attribute>
		<xs:attribute name="isPrimary" type="xs:boolean" use="optional" default="false">
		</xs:attribute>
		<xs:attribute name="parameter" type="xs:string" use="optional">
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:element name="register">
		<xs:annotation>
			<xs:documentation>Expands the definition of a specific datasource.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="field" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Registers a field description in the system.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" use="required">
												<xs:annotation>
													<xs:documentation>Name of the attribute.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:union memberTypes="pps:fieldAttributeNames KeyType" />
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="KeyType" use="required">
							<xs:annotation>
								<xs:documentation>Full qualified name of the column.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="displayName" type="xs:string" use="optional">
						</xs:attribute>
						<xs:attribute name="dataType" type="LuaType" use="optional">
						</xs:attribute>
						<xs:attribute name="inherited" use="optional">
							<xs:annotation>
								<xs:documentation>Base description.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:list itemType="xs:string" />
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="view" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Registers accessable view.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Description of the view.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" use="required">
												<xs:annotation>
													<xs:documentation>How is the code parsed. The actual content depends on the datasource.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string"><!-- todo: union with string -->
														<xs:enumeration value="select" />
														<xs:enumeration value="file" />
														<xs:enumeration value="resource" />
														<xs:enumeration value="view" />
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:anyAttribute processContents="lax" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="filter" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="name" use="required" type="KeyType">
													<xs:annotation>
														<xs:documentation>Id of this filter</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="displayName" use="optional" type="xs:string">
													<xs:annotation>
														<xs:documentation>Filter name</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="order" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="name" use="required" type="KeyType">
													<xs:annotation>
														<xs:documentation>Id of this sort description</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="displayName" use="optional" type="xs:string">
													<xs:annotation>
														<xs:documentation>Sort display name</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="KeyType">
							<xs:annotation>
								<xs:documentation>Id or name of the view.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="displayName" use="optional" type="xs:string">
							<xs:annotation>
								<xs:documentation>Name for the view.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="inherited" use="optional">
							<xs:annotation>
								<xs:documentation>Base view.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:list itemType="xs:string" />
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="dataset" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of a dataset, that will descript later a document, to process complex data.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="KeyType" use="required">
										<xs:annotation>
											<xs:documentation>Name of the parameter</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="fieldName" type="xs:string" use="required">
									</xs:attribute>
									<xs:attribute name="isNullable" type="xs:boolean" use="required">
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="table" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="column" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attributeGroup ref="pps:columnBasicAttributes" />
											</xs:complexType>
										</xs:element>
										<xs:sequence>
											<xs:element name="relation" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:attributeGroup ref="pps:columnBasicAttributes" />
													<xs:attribute name="relationName" type="xs:string" use="optional">
													</xs:attribute>
													<xs:attribute name="parentTable" type="xs:string" use="required">
													</xs:attribute>
													<xs:attribute name="parentColumn" type="xs:string" use="required">
													</xs:attribute>
													<xs:attribute name="parentType" use="required">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Root" />
																<xs:enumeration value="Relation" />
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:sequence>
									<xs:attribute name="name" type="KeyType" use="required">
										<xs:annotation>
											<xs:documentation>Name of the table</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="KeyType">
							<xs:annotation>
								<xs:documentation>Id or name of the dataset.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="inherited" use="optional">
							<xs:annotation>
								<xs:documentation>Base dataset.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:list itemType="xs:string" />
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="serverScripts" type="ScriptList" use="optional">
							<xs:annotation>
								<xs:documentation>Extension for the document.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="localScripts" use="optional">
							<xs:annotation>
								<xs:documentation>Script files for the local site.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:list itemType="PathType" />
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="source" type="KeyType" use="required">
				<xs:annotation>
					<xs:documentation>Datasource, that will be expanded.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="document">
		<xs:annotation>
			<xs:appinfo>
				<class>TecWare.PPSn.Server.PpsDocument</class>
			</xs:appinfo>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigItemType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
					</xs:sequence>
					<xs:attribute name="dataset" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Connected dataset.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	
	</xs:element>

	<xs:element name="package" substitutionGroup="configItem">
		<xs:annotation>
			<xs:documentation>Defines a pps functionality.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.PPSn.Server.PpsPackage</class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigLogItemType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="pps:document" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ppsn" substitutionGroup="configItem">
		<xs:annotation>
			<xs:documentation>Basic environment for the ERP services.</xs:documentation>
			<xs:appinfo>
				<class>TecWare.PPSn.Server.PpsApplication</class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ConfigLogItemType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="pps:dataSource" minOccurs="0" maxOccurs="unbounded" />
						<xs:element ref="pps:register" minOccurs="0" maxOccurs="unbounded" />
						<xs:element ref="pps:document" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:attribute name="mainDataSource" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>Name of the main datasource, for the initial user list.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
